@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes redSea {
  0% {
    background-position: 0% 0%, 100% 100%, 0% 0%;
  }
  50% {
    background-position: 100% 50%, 0% 50%, 100% 100%;
  }
  100% {
    background-position: 0% 0%, 100% 100%, 0% 0%;
  }
}
